In [91]:
import pandas as pd

In [92]:
# 입장객 합계가 있는 엑셀 파일의 경로
entertouristall = "1조기업프로젝트_자료정리1.0/찾은csv파일들/지역별/주요 관광지 지점(입장객)/주요관광지점 입장객(서울).xls"

In [93]:
# 인구 비율이 있는 엑셀 파일의 경로
entertouristratio = '1조기업프로젝트_자료정리1.0/찾은csv파일들/지역별/주요관광지성연령별/서울.csv'

In [94]:
# 입장객 합계 엑셀 파일 로드
df_entertourist = pd.read_excel(entertouristall)

# 인구 비율 csv 파일 로드
df_ratio = pd.read_csv(entertouristratio)

In [95]:
df_ratio

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,2552251,경기여고경운박물관(서울),인문(문화/예술/역사),문화시설,6.9,7.8,5.8,6.4,6.2,7.5,...,8.6,8.9,9.9,7.3,8.7,3.9,3.9,0,1.0,24.0
1,1603149,능인선원,인문(문화/예술/역사),역사관광지,3.5,5.9,7.4,8.2,11.5,9.2,...,7.3,8.2,8.1,6.2,7.9,3.2,3.3,0,2.0,24.0
2,2733970,대치유수지체육공원,인문(문화/예술/역사),휴양관광지,20.2,11.0,5.3,4.7,6.3,4.0,...,10.5,8.4,8.2,4.7,3.3,2.1,1.5,0,3.0,24.0
3,2782193,더스마티움,인문(문화/예술/역사),문화시설,2.8,3.5,8.0,9.3,13.3,10.4,...,6.3,10.5,6.5,8.8,5.3,3.7,2.1,0,4.0,24.0
4,2782194,도곡시장,쇼핑,쇼핑,2.5,3.2,5.2,7.3,7.1,8.0,...,16.2,7.0,15.4,3.3,9.0,1.5,3.7,0,5.0,24.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,2759985,면목시장,쇼핑,쇼핑,3.1,2.6,8.7,10.3,8.4,7.6,...,7.4,8.3,11.3,7.2,10.0,3.6,5.0,0,2.0,6.0
331,1606096,성덕사,인문(문화/예술/역사),역사관광지,3.3,2.6,8.2,8.8,10.2,8.0,...,6.8,9.1,10.8,8.1,9.0,4.0,4.0,0,3.0,6.0
332,2761437,용마랜드,인문(문화/예술/역사),휴양관광지,2.9,2.3,8.4,5.8,6.6,5.2,...,5.5,10.4,13.4,9.8,11.1,5.2,6.3,0,4.0,6.0
333,2759990,중랑우림시장,쇼핑,쇼핑,2.8,3.6,10.0,11.9,10.2,10.9,...,7.8,6.8,9.2,5.3,7.4,2.9,3.0,0,5.0,6.0
334,2761478,태릉시장,쇼핑,쇼핑,3.2,2.0,8.8,8.0,7.6,6.8,...,6.6,10.6,10.6,9.7,10.5,4.4,4.4,0,6.0,6.0

In [96]:
# 필요없는 여러 개의 컬럼 제거
columns_to_drop = ['Unnamed: 0', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20']
df_ratio = df_ratio.drop(columns_to_drop, axis=1)
print(df_ratio)

        Unnamed: 1  Unnamed: 4  Unnamed: 5  Unnamed: 6  Unnamed: 7
0    경기여고경운박물관(서울)         6.9         7.8         5.8         6.4  \
1             능인선원         3.5         5.9         7.4         8.2
2        대치유수지체육공원        20.2        11.0         5.3         4.7
3            더스마티움         2.8         3.5         8.0         9.3
4             도곡시장         2.5         3.2         5.2         7.3
..             ...         ...         ...         ...         ...
330           면목시장         3.1         2.6         8.7        10.3
331            성덕사         3.3         2.6         8.2         8.8
332           용마랜드         2.9         2.3         8.4         5.8
333         중랑우림시장         2.8         3.6        10.0        11.9
334           태릉시장         3.2         2.0         8.8         8.0

     Unnamed: 8  Unnamed: 9  Unnamed: 10  Unnamed: 11  Unnamed: 12
0           6.2         7.5          8.1          8.6          8.9  \
1          11.5         9.2         10.1          7.3          8.2
2           6.3         4.0          9.8         10.5          8.4
3          13.3        10.4          9.5          6.3         10.5
4           7.1         8.0         10.7         16.2          7.0
..          ...         ...          ...          ...          ...
330         8.4         7.6          6.6          7.4          8.3
331        10.2         8.0          7.3          6.8          9.1
332         6.6         5.2          7.0          5.5         10.4
333        10.2        10.9          8.4          7.8          6.8
334         7.6         6.8          6.9          6.6         10.6

     Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  Unnamed: 17
0            9.9          7.3          8.7          3.9          3.9
1            8.1          6.2          7.9          3.2          3.3
2            8.2          4.7          3.3          2.1          1.5
3            6.5          8.8          5.3          3.7          2.1
4           15.4          3.3          9.0          1.5          3.7
..           ...          ...          ...          ...          ...
330         11.3          7.2         10.0          3.6          5.0
331         10.8          8.1          9.0          4.0          4.0
332         13.4          9.8         11.1          5.2          6.3
333          9.2          5.3          7.4          2.9          3.0
334         10.6          9.7         10.5          4.4          4.4

[335 rows x 15 columns]

In [97]:
# 컬럼명 삽입  
df_ratio.columns=['관광지', '10대 이하(남)', '10대 이하(여)', '20대 (남)', '20대 (여)', '30대 (남)', '30대 (여)', '40대 (남)', '40대 (여)', '50대 (남)', '50대 (여)', '60대 (남)', '60대 (여)', '70대 이상 (남)', '70대 이상 (여)']

In [98]:
df_ratio

,관광지,10대 이하(남),10대 이하(여),20대 (남),20대 (여),30대 (남),30대 (여),40대 (남),40대 (여),50대 (남),50대 (여),60대 (남),60대 (여),70대 이상 (남),70대 이상 (여)
0,경기여고경운박물관(서울),6.9,7.8,5.8,6.4,6.2,7.5,8.1,8.6,8.9,9.9,7.3,8.7,3.9,3.9
1,능인선원,3.5,5.9,7.4,8.2,11.5,9.2,10.1,7.3,8.2,8.1,6.2,7.9,3.2,3.3
2,대치유수지체육공원,20.2,11.0,5.3,4.7,6.3,4.0,9.8,10.5,8.4,8.2,4.7,3.3,2.1,1.5
3,더스마티움,2.8,3.5,8.0,9.3,13.3,10.4,9.5,6.3,10.5,6.5,8.8,5.3,3.7,2.1
4,도곡시장,2.5,3.2,5.2,7.3,7.1,8.0,10.7,16.2,7.0,15.4,3.3,9.0,1.5,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
330,면목시장,3.1,2.6,8.7,10.3,8.4,7.6,6.6,7.4,8.3,11.3,7.2,10.0,3.6,5.0
331,성덕사,3.3,2.6,8.2,8.8,10.2,8.0,7.3,6.8,9.1,10.8,8.1,9.0,4.0,4.0
332,용마랜드,2.9,2.3,8.4,5.8,6.6,5.2,7.0,5.5,10.4,13.4,9.8,11.1,5.2,6.3
333,중랑우림시장,2.8,3.6,10.0,11.9,10.2,10.9,8.4,7.8,6.8,9.2,5.3,7.4,2.9,3.0
334,태릉시장,3.2,2.0,8.8,8.0,7.6,6.8,6.9,6.6,10.6,10.6,9.7,10.5,4.4,4.4

In [99]:
df_entertourist

,시도,군구,관광지,내/외국인,총계(2022.01 ~ 2022.12),2022년,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,NaN,NaN,NaN,NaN,NaN,인원계,2022년 01월,2022년 02월,2022년 03월,2022년 04월,2022년 05월,2022년 06월,2022년 07월,2022년 08월,2022년 09월,2022년 10월,2022년 11월,2022년 12월
1,서울특별시,종로구,경복궁,내국인,3164299.0,3164299,74517,68938,74372,220389,499429,248582,153966,184831,484622,612388,342729,199536
2,서울특별시,종로구,경복궁,외국인,218304.0,218304,1547,1409,1878,7442,20553,10873,13946,16449,46704,35455,26438,35610
3,서울특별시,종로구,경복궁,합계,3382603.0,3382603,76064,70347,76250,227831,519982,259455,167912,201280,531326,647843,369167,235146
4,서울특별시,종로구,종묘,내국인,265635.0,265635,11835,9877,12887,25446,35394,16784,12032,16350,42998,40595,28292,13145
5,서울특별시,종로구,종묘,외국인,20985.0,20985,270,363,459,1101,1616,1423,1758,2037,2175,4275,3253,2255
6,서울특별시,종로구,종묘,합계,286620.0,286620,12105,10240,13346,26547,37010,18207,13790,18387,45173,44870,31545,15400
7,서울특별시,종로구,창경궁,내국인,849438.0,849438,21579,28535,44433,124698,84997,50829,35412,45407,118966,143242,122189,29151
8,서울특별시,종로구,창경궁,외국인,38368.0,38368,264,450,589,1870,2686,2191,3056,3498,7851,6002,5831,4080
9,서울특별시,종로구,창경궁,합계,887806.0,887806,21843,28985,45022,126568,87683,53020,38468,48905,126817,149244,128020,33231
10,서울특별시,종로구,창덕궁,내국인,1044875.0,1044875,33174,31589,57697,149900,105477,63107,46974,54382,125504,173352,154249,49470
11,서울특별시,종로구,창덕궁,외국인,141486.0,141486,883,924,1307,5347,9282,9058,10860,12300,20782,28251,25492,17000
12,서울특별시,종로구,창덕궁,합계,1186361.0,1186361,34057,32513,59004,155247,114759,72165,57834,66682,146286,201603,179741,66470
13,서울특별시,중구,남산골한옥마을,내국인,928726.0,928726,45278,45054,65786,110101,101088,60740,50741,52157,139706,106042,98680,53353
14,서울특별시,중구,남산골한옥마을,외국인,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
15,서울특별시,중구,남산골한옥마을,합계,928726.0,928726,45278,45054,65786,110101,101088,60740,50741,52157,139706,106042,98680,53353
16,서울특별시,중구,덕수궁,내국인,2593264.0,2593264,126314,124444,143462,250590,264508,187052,167977,168320,272812,377609,344941,165235
17,서울특별시,중구,덕수궁,외국인,103138.0,103138,1095,1284,1836,4569,6397,6413,8496,10061,15212,18321,16154,13300
18,서울특별시,중구,덕수궁,합계,2696402.0,2696402,127409,125728,145298,255159,270905,193465,176473,178381,288024,395930,361095,178535
19,서울특별시,중구,서울시립미술관 본관,내국인,2452057.0,2452057,36152,46724,41961,196073,199857,236941,523736,416449,200520,219717,179385,154542
20,서울특별시,중구,서울시립미술관 본관,외국인,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,서울특별시,중구,서울시립미술관 본관,합계,2452057.0,2452057,36152,46724,41961,196073,199857,236941,523736,416449,200520,219717,179385,154542
22,서울특별시,용산구,국립중앙박물관,내국인,3328379.0,3328379,197218,169553,127099,146945,341158,299996,396518,463376,205299,282314,333617,365286
23,서울특별시,용산구,국립중앙박물관,외국인,70279.0,70279,1415,1538,2177,3720,4785,6040,9172,8230,7846,11110,7520,6726
24,서울특별시,용산구,국립중앙박물관,합계,3398658.0,3398658,198633,171091,129276,150665,345943,306036,405690,471606,213145,293424,341137,372012
25,서울특별시,동대문구,서울약령시 한의약박물관,내국인,104197.0,104197,2560,1906,5737,7687,6584,9620,6925,5533,8104,39725,6056,3760
26,서울특별시,동대문구,서울약령시 한의약박물관,외국인,1778.0,1778,29,18,8,70,91,95,193,113,397,343,279,142
27,서울특별시,동대문구,서울약령시 한의약박물관,합계,105975.0,105975,2589,1924,5745,7757,6675,9715,7118,5646,8501,40068,6335,3902
28,서울특별시,동대문구,세종대왕기념관,내국인,2247.0,2247,61,54,85,157,390,269,105,91,307,470,174,84
29,서울특별시,동대문구,세종대왕기념관,합계,2247.0,2247,61,54,85,157,390,269,105,91,307,470,174,84
30,서울특별시,노원구,태릉 · 강릉 · 조선왕릉전시관,내국인,78722.0,78722,3059,3366,4643,7235,11283,8251,3169,3635,8107,14217,9808,1949
31,서울특별시,노원구,태릉 · 강릉 · 조선왕릉전시관,외국인,106.0,106,7,2,2,20,2,12,4,9,12,16,11,9
32,서울특별시,노원구,태릉 · 강릉 · 조선왕릉전시관,합계,78828.0,78828,3066,3368,4645,7255,11285,8263,3173,3644,8119,14233,9819,1958
33,서울특별시,서대문구,서대문자연사박물관,내국인,245998.0,245998,24698,17772,17367,15545,17513,22570,29906,33928,15021,18426,17867,15385
34,서울특별시,서대문구,서대문자연사박물관,외국인,0.0,0,0,0,0,0,0,0,0,0,0,0,0,0
35,서울특별시,서대문구,서대문자연사박물관,합계,245998.0,245998,24698,17772,17367,15545,17513,22570,29906,33928,15021,18426,17867,15385
36,서울특별시,서대문구,서대문형무소역사관,내국인,305711.0,305711,10327,10804,12011,16427,24226,29090,19610,35436,34358,54486,38928,20008
37,서울특별시,서대문구,서대문형무소역사관,외국인,7196.0,7196,202,182,235,226,500,585,941,855,975,811,896,788
38,서울특별시,서대문구,서대문형무소역사관,합계,312907.0,312907,10529,10986,12246,16653,24726,29675,20551,36291,35333,55297,39824,20796
39,서울특별시,강남구,선릉·정릉,내국인,410175.0,410175,19257,19310,32752,55377,51491,36005,25888,25473,45503,47251,37121,14747
40,서울특별시,강남구,선릉·정릉,외국인,632.0,632,139,191,302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,서울특별시,강남구,선릉·정릉,합계,410807.0,410807,19396,19501,33054,55377,51491,36005,25888,25473,45503,47251,37121,14747
42,서울특별시,송파구,롯데월드,내국인,4516912.0,4516912,300514,218464,188057,345880,375812,304605,414103,416971,376091,600599,416591,559225
43,서울특별시,송파구,롯데월드,합계,4516912.0,4516912,300514,218464,188057,345880,375812,304605,414103,416971,376091,600599,416591,559225
44,서울특별시,송파구,서울스카이,내국인,1126670.0,1126670,62026,45570,31826,64052,92220,95065,124064,143903,105554,133025,98996,130369
45,서울특별시,송파구,서울스카이,합계,1126670.0,1126670,62026,45570,31826,64052,92220,95065,124064,143903,105554,133025,98996,130369
46,서울특별시,송파구,아쿠아리움,내국인,1124489.0,1124489,78721,60012,55774,63160,84405,94162,143200,156094,87233,102499,80047,119182
47,서울특별시,송파구,아쿠아리움,합계,1124489.0,1124489,78721,60012,55774,63160,84405,94162,143200,156094,87233,102499,80047,119182

In [100]:
# 내/외국인 칼럼 이름
nationalitycol = '내/외국인'

# 내/외국인 칼럼에서 합계 행만 남기기
df_entertourist = df_entertourist[df_entertourist[nationalitycol] == '합계']

In [101]:
df_entertourist

,시도,군구,관광지,내/외국인,총계(2022.01 ~ 2022.12),2022년,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
3,서울특별시,종로구,경복궁,합계,3382603.0,3382603,76064,70347,76250,227831,519982,259455,167912,201280,531326,647843,369167,235146
6,서울특별시,종로구,종묘,합계,286620.0,286620,12105,10240,13346,26547,37010,18207,13790,18387,45173,44870,31545,15400
9,서울특별시,종로구,창경궁,합계,887806.0,887806,21843,28985,45022,126568,87683,53020,38468,48905,126817,149244,128020,33231
12,서울특별시,종로구,창덕궁,합계,1186361.0,1186361,34057,32513,59004,155247,114759,72165,57834,66682,146286,201603,179741,66470
15,서울특별시,중구,남산골한옥마을,합계,928726.0,928726,45278,45054,65786,110101,101088,60740,50741,52157,139706,106042,98680,53353
18,서울특별시,중구,덕수궁,합계,2696402.0,2696402,127409,125728,145298,255159,270905,193465,176473,178381,288024,395930,361095,178535
21,서울특별시,중구,서울시립미술관 본관,합계,2452057.0,2452057,36152,46724,41961,196073,199857,236941,523736,416449,200520,219717,179385,154542
24,서울특별시,용산구,국립중앙박물관,합계,3398658.0,3398658,198633,171091,129276,150665,345943,306036,405690,471606,213145,293424,341137,372012
27,서울특별시,동대문구,서울약령시 한의약박물관,합계,105975.0,105975,2589,1924,5745,7757,6675,9715,7118,5646,8501,40068,6335,3902
29,서울특별시,동대문구,세종대왕기념관,합계,2247.0,2247,61,54,85,157,390,269,105,91,307,470,174,84
32,서울특별시,노원구,태릉 · 강릉 · 조선왕릉전시관,합계,78828.0,78828,3066,3368,4645,7255,11285,8263,3173,3644,8119,14233,9819,1958
35,서울특별시,서대문구,서대문자연사박물관,합계,245998.0,245998,24698,17772,17367,15545,17513,22570,29906,33928,15021,18426,17867,15385
38,서울특별시,서대문구,서대문형무소역사관,합계,312907.0,312907,10529,10986,12246,16653,24726,29675,20551,36291,35333,55297,39824,20796
41,서울특별시,강남구,선릉·정릉,합계,410807.0,410807,19396,19501,33054,55377,51491,36005,25888,25473,45503,47251,37121,14747
43,서울특별시,송파구,롯데월드,합계,4516912.0,4516912,300514,218464,188057,345880,375812,304605,414103,416971,376091,600599,416591,559225
45,서울특별시,송파구,서울스카이,합계,1126670.0,1126670,62026,45570,31826,64052,92220,95065,124064,143903,105554,133025,98996,130369
47,서울특별시,송파구,아쿠아리움,합계,1124489.0,1124489,78721,60012,55774,63160,84405,94162,143200,156094,87233,102499,80047,119182

In [102]:
df_entertourist.drop(columns=['총계(2022.01 ~ 2022.12)'], inplace=True) # 서울 제외 '(2022년 ~ 2022년)', 서울 '총계(2022.01 ~ 2022.12)'

C:\Users\bleudrake\AppData\Local\Temp\ipykernel_9176\2351379810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_entertourist.drop(columns=['총계(2022.01 ~ 2022.12)'], inplace=True) # 서울 제외 '(2022년 ~ 2022년)', 서울 '총계(2022.01 ~ 2022.12)'

In [103]:
df_entertourist

,시도,군구,관광지,내/외국인,2022년,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
3,서울특별시,종로구,경복궁,합계,3382603,76064,70347,76250,227831,519982,259455,167912,201280,531326,647843,369167,235146
6,서울특별시,종로구,종묘,합계,286620,12105,10240,13346,26547,37010,18207,13790,18387,45173,44870,31545,15400
9,서울특별시,종로구,창경궁,합계,887806,21843,28985,45022,126568,87683,53020,38468,48905,126817,149244,128020,33231
12,서울특별시,종로구,창덕궁,합계,1186361,34057,32513,59004,155247,114759,72165,57834,66682,146286,201603,179741,66470
15,서울특별시,중구,남산골한옥마을,합계,928726,45278,45054,65786,110101,101088,60740,50741,52157,139706,106042,98680,53353
18,서울특별시,중구,덕수궁,합계,2696402,127409,125728,145298,255159,270905,193465,176473,178381,288024,395930,361095,178535
21,서울특별시,중구,서울시립미술관 본관,합계,2452057,36152,46724,41961,196073,199857,236941,523736,416449,200520,219717,179385,154542
24,서울특별시,용산구,국립중앙박물관,합계,3398658,198633,171091,129276,150665,345943,306036,405690,471606,213145,293424,341137,372012
27,서울특별시,동대문구,서울약령시 한의약박물관,합계,105975,2589,1924,5745,7757,6675,9715,7118,5646,8501,40068,6335,3902
29,서울특별시,동대문구,세종대왕기념관,합계,2247,61,54,85,157,390,269,105,91,307,470,174,84
32,서울특별시,노원구,태릉 · 강릉 · 조선왕릉전시관,합계,78828,3066,3368,4645,7255,11285,8263,3173,3644,8119,14233,9819,1958
35,서울특별시,서대문구,서대문자연사박물관,합계,245998,24698,17772,17367,15545,17513,22570,29906,33928,15021,18426,17867,15385
38,서울특별시,서대문구,서대문형무소역사관,합계,312907,10529,10986,12246,16653,24726,29675,20551,36291,35333,55297,39824,20796
41,서울특별시,강남구,선릉·정릉,합계,410807,19396,19501,33054,55377,51491,36005,25888,25473,45503,47251,37121,14747
43,서울특별시,송파구,롯데월드,합계,4516912,300514,218464,188057,345880,375812,304605,414103,416971,376091,600599,416591,559225
45,서울특별시,송파구,서울스카이,합계,1126670,62026,45570,31826,64052,92220,95065,124064,143903,105554,133025,98996,130369
47,서울특별시,송파구,아쿠아리움,합계,1124489,78721,60012,55774,63160,84405,94162,143200,156094,87233,102499,80047,119182

In [104]:
# 입장객 합계 계산
cs_entertourist = ['관광지', '2022년'] # 서울 제외 - '총계', 서울 - '2022년'
df_touristsum = df_entertourist[cs_entertourist]

In [105]:
df_touristsum

                   관광지    2022년
3                  경복궁  3382603
6                   종묘   286620
9                  창경궁   887806
12                 창덕궁  1186361
15             남산골한옥마을   928726
18                 덕수궁  2696402
21          서울시립미술관 본관  2452057
24             국립중앙박물관  3398658
27        서울약령시 한의약박물관   105975
29             세종대왕기념관     2247
32  태릉 ·  강릉 · 조선왕릉전시관    78828
35           서대문자연사박물관   245998
38           서대문형무소역사관   312907
41               선릉·정릉   410807
43                롯데월드  4516912
45               서울스카이  1126670
47               아쿠아리움  1124489

In [106]:
# # 행 데이터 비교
# merged_df = pd.merge(df_gjtour, df_ratio, on='관광지', how='inner')

# # 선택된 데이터 출력
# print(merged_df)

In [107]:
from fuzzywuzzy import process

# 첫 번째 데이터프레임의 행 데이터와 두 번째 데이터프레임의 행 데이터를 비교하여 가장 유사한 행을 찾습니다.
threshold_similarity = 80  # 필요에 따라 유사도 임계값을 조정합니다.

selected_rows = []
for index, row1 in df_touristsum.iterrows():
    name1 = row1['관광지']  # 첫 번째 데이터프레임에서 이름에 해당하는 컬럼을 지정해야 합니다.
    
    best_match = process.extractOne(name1, df_ratio['관광지'])[0]  # 두 번째 데이터프레임에서 이름에 해당하는 열 이름을 지정합니다.
    similarity_score = process.extractOne(name1, df_ratio['관광지'])[1]
    if similarity_score >= threshold_similarity:
        selected_rows.append((row1))

# 선택된 행 데이터로 새로운 데이터프레임을 생성합니다.
new_df = pd.DataFrame(selected_rows, columns=df_touristsum.columns)  # 필요에 따라 열 이름을 수정합니다.

# 선택된 행 데이터를 출력합니다.
print(new_df)

           관광지    2022년
3          경복궁  3382603
6           종묘   286620
9          창경궁   887806
12         창덕궁  1186361
15     남산골한옥마을   928726
18         덕수궁  2696402
21  서울시립미술관 본관  2452057
24     국립중앙박물관  3398658
35   서대문자연사박물관   245998

In [108]:
# 새로운 데이터프레임과 세 번째 데이터프레임을 비교하고 병합합니다.
merged_df = pd.merge(new_df, df_ratio, on='관광지', how='inner')

# 선택된 데이터를 출력합니다.
print(merged_df)

         관광지    2022년  10대 이하(남)  10대 이하(여)  20대 (남)  20대 (여)  30대 (남)
0        경복궁  3382603        2.4        3.4      8.8     11.8     10.9  \
1        창경궁   887806        1.3        1.6      8.7     12.1      8.9
2    남산골한옥마을   928726        2.8        3.3     15.6     17.1     10.4
3        덕수궁  2696402        1.1        1.8      8.2     12.1     12.3
4    국립중앙박물관  3398658        3.5        3.7      8.5      8.6      9.7
5  서대문자연사박물관   245998        5.1        5.1      9.1     10.5      6.5

   30대 (여)  40대 (남)  40대 (여)  50대 (남)  50대 (여)  60대 (남)  60대 (여)  70대 이상 (남)
0     10.0      9.8      7.6      7.2      8.3      6.1      7.4         3.1  \
1      9.3      7.4      8.1      8.0      9.8      7.6      8.4         4.7
2      8.0      9.2      5.2      9.4      5.8      5.2      3.9         2.4
3     11.1     12.2      8.7     11.4      7.6      5.6      4.2         2.3
4     10.5      9.9      9.1      8.1      8.7      5.8      6.7         3.1
5      9.1      8.0     10.6      7.6      9.7      5.1      7.0         3.2

   70대 이상 (여)
0         3.2
1         4.1
2         1.7
3         1.5
4         4.0
5         3.4

In [109]:
pd.DataFrame(merged_df)

,관광지,2022년,10대 이하(남),10대 이하(여),20대 (남),20대 (여),30대 (남),30대 (여),40대 (남),40대 (여),50대 (남),50대 (여),60대 (남),60대 (여),70대 이상 (남),70대 이상 (여)
0,경복궁,3382603,2.4,3.4,8.8,11.8,10.9,10.0,9.8,7.6,7.2,8.3,6.1,7.4,3.1,3.2
1,창경궁,887806,1.3,1.6,8.7,12.1,8.9,9.3,7.4,8.1,8.0,9.8,7.6,8.4,4.7,4.1
2,남산골한옥마을,928726,2.8,3.3,15.6,17.1,10.4,8.0,9.2,5.2,9.4,5.8,5.2,3.9,2.4,1.7
3,덕수궁,2696402,1.1,1.8,8.2,12.1,12.3,11.1,12.2,8.7,11.4,7.6,5.6,4.2,2.3,1.5
4,국립중앙박물관,3398658,3.5,3.7,8.5,8.6,9.7,10.5,9.9,9.1,8.1,8.7,5.8,6.7,3.1,4.0
5,서대문자연사박물관,245998,5.1,5.1,9.1,10.5,6.5,9.1,8.0,10.6,7.6,9.7,5.1,7.0,3.2,3.4

In [110]:
# 총계 컬럼을 활용하여 관광객 숫자 계산
columns_to_calculate = ['10대 이하(남)', '10대 이하(여)', '20대 (남)', '20대 (여)', '30대 (남)', '30대 (여)', '40대 (남)', '40대 (여)', '50대 (남)', '50대 (여)', '60대 (남)', '60대 (여)', '70대 이상 (남)', '70대 이상 (여)']
for column in columns_to_calculate:
    tourist_count_column_name = column + ' 관광객 수'
    merged_df[tourist_count_column_name] = (merged_df[column] / 100) * merged_df['2022년'] # 서울 제외 '총계', 서울만 '2022년'
    merged_df[tourist_count_column_name] = merged_df[tourist_count_column_name].astype(int)

# '관광객 수' 컬럼이 없는 컬럼들 삭제
columns_to_drop = ['2022년'] + columns_to_calculate # 서울 제외 '총계', 서울만 '2022년'
merged_df.drop(columns=columns_to_drop, inplace=True)

# 결과 출력
print(merged_df)

         관광지  10대 이하(남) 관광객 수  10대 이하(여) 관광객 수  20대 (남) 관광객 수  20대 (여) 관광객 수
0        경복궁            81182           115008         297669         399147  \
1        창경궁            11541            14204          77239         107424
2    남산골한옥마을            26004            30647         144881         158812
3        덕수궁            29660            48535         221104         326264
4    국립중앙박물관           118953           125750         288885         292284
5  서대문자연사박물관            12545            12545          22385          25829

   30대 (남) 관광객 수  30대 (여) 관광객 수  40대 (남) 관광객 수  40대 (여) 관광객 수  50대 (남) 관광객 수
0         368703         338260         331495         257077         243547  \
1          79014          82565          65697          71912          71024
2          96587          74298          85442          48293          87300
3         331657         299300         328961         234586         307389
4         329669         356859         336467         309277         275291
5          15989          22385          19679          26075          18695

   50대 (여) 관광객 수  60대 (남) 관광객 수  60대 (여) 관광객 수  70대 이상 (남) 관광객 수
0         280756         206338         250312            104860  \
1          87004          67473          74575             41726
2          53866          48293          36220             22289
3         204926         150998         113248             62017
4         295683         197122         227710            105358
5          23861          12545          17219              7871

   70대 이상 (여) 관광객 수
0            108243
1             36400
2             15788
3             40446
4            135946
5              8363

In [111]:
pd.DataFrame(merged_df)

,관광지,10대 이하(남) 관광객 수,10대 이하(여) 관광객 수,20대 (남) 관광객 수,20대 (여) 관광객 수,30대 (남) 관광객 수,30대 (여) 관광객 수,40대 (남) 관광객 수,40대 (여) 관광객 수,50대 (남) 관광객 수,50대 (여) 관광객 수,60대 (남) 관광객 수,60대 (여) 관광객 수,70대 이상 (남) 관광객 수,70대 이상 (여) 관광객 수
0,경복궁,81182,115008,297669,399147,368703,338260,331495,257077,243547,280756,206338,250312,104860,108243
1,창경궁,11541,14204,77239,107424,79014,82565,65697,71912,71024,87004,67473,74575,41726,36400
2,남산골한옥마을,26004,30647,144881,158812,96587,74298,85442,48293,87300,53866,48293,36220,22289,15788
3,덕수궁,29660,48535,221104,326264,331657,299300,328961,234586,307389,204926,150998,113248,62017,40446
4,국립중앙박물관,118953,125750,288885,292284,329669,356859,336467,309277,275291,295683,197122,227710,105358,135946
5,서대문자연사박물관,12545,12545,22385,25829,15989,22385,19679,26075,18695,23861,12545,17219,7871,8363

In [112]:
# 데이터프레임을 CSV 파일로 저장
merged_df.to_csv('서울특별시.csv', index=False)

In [113]:
pd.read_csv('서울특별시.csv')

,관광지,10대 이하(남) 관광객 수,10대 이하(여) 관광객 수,20대 (남) 관광객 수,20대 (여) 관광객 수,30대 (남) 관광객 수,30대 (여) 관광객 수,40대 (남) 관광객 수,40대 (여) 관광객 수,50대 (남) 관광객 수,50대 (여) 관광객 수,60대 (남) 관광객 수,60대 (여) 관광객 수,70대 이상 (남) 관광객 수,70대 이상 (여) 관광객 수
0,경복궁,81182,115008,297669,399147,368703,338260,331495,257077,243547,280756,206338,250312,104860,108243
1,창경궁,11541,14204,77239,107424,79014,82565,65697,71912,71024,87004,67473,74575,41726,36400
2,남산골한옥마을,26004,30647,144881,158812,96587,74298,85442,48293,87300,53866,48293,36220,22289,15788
3,덕수궁,29660,48535,221104,326264,331657,299300,328961,234586,307389,204926,150998,113248,62017,40446
4,국립중앙박물관,118953,125750,288885,292284,329669,356859,336467,309277,275291,295683,197122,227710,105358,135946
5,서대문자연사박물관,12545,12545,22385,25829,15989,22385,19679,26075,18695,23861,12545,17219,7871,8363